.filled-button {
    padding: 6px 16px;
    border-radius: 999px;
    background: var(--111111, #111);
    color: #ffffff;
    border: none;
    cursor: pointer;
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.light {    
    background: var(--FFFFFF, #FFF);
    color: var(--111111, #111);
}

.border-button {
    padding: 6px 16px;
    border-radius: 999px;
    border: 1px solid var(--CACACB, #CACACB);
    background: var(--FFFFFF, #FFF);
    cursor: pointer;
}

.left-button {    
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 24px;
    background: var(--F5F5F5, #F5F5F5);   
    cursor: pointer;       
}

.right-button {
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 24px;
    background: var(--F5F5F5, #F5F5F5);    
    cursor: pointer;
}