.filled-button {
    padding: 6px 16px;
    border-radius: 999px;
    background: var(--111111, #111);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.light {    
    background: var(--FFFFFF, #FFF);
    color: var(--111111, #111);
}

.border-button {
    padding: 6px 16px;
    border-radius: 999px;
    border: 1px solid var(--CACACB, #CACACB);
    background: var(--FFFFFF, #FFF);
    cursor: pointer;
}

